header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 90px;
  /* padding-bottom: auto; */
  background-color: #f59623;
  background-image: url(http://www.transparenttextures.com/patterns/shattered.png);
  
}
