#tweet container {
  width: 100%;
}

article {
  padding: 0.5em;
  background-color: #f4f1ec;
  border: medium solid black;
  margin-bottom: 1.5em;
  padding: 0.5em;
}

.tweet:hover {
  box-shadow: 5px 5px 0 #C8C8C8;
}

.tweet {
  border-bottom: medium solid black;
  font-size: 20px;
}


.tweet-header {
    display: flex;
    justify-content: space-between
    align-items: center;
}

.user-image {
    display: flex
}

.user-image img {
  margin-right: 10px
}

.tweet-footer {
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   align-items: center;
}

.tweet_icons {
  display: flex;
  display: flex-end;
}

fa-flag:hover {
  color: orange;

}

fa-retweet:hover {
  color: #6076bd;

}

heart:hover {
  color: red;

} 
